.mdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

}
.imgdiv{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:right;
   
}
.img{
    width: 100%;
    height:auto;
    position: relative;
 
    top: -30px;
}
.typoge{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    position: relative;
    left: -78px;
    
    z-index: 0;

}
.typoge1{
    background-image: radial-gradient(circle at right top ,rgb(240, 154, 154),rgb(208,77,77),rgb(196, 60, 60));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0 90px;
    color: white;
}
.typoge2{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: radial-gradient(circle at right top ,rgb(51, 136, 138),rgb(8,69,82),rgb(5, 57, 68));
    padding: 10px 100px;
    color: white;
}